<nav class="nav">
  <div class="logo"><a href="{{@blog.url}}" style="background: url({{@blog.logo}}) 0 0 / 100% auto no-repeat;"><span>{{@blog.title}}</span></a></div>
  <ul class="main-nav">
    {{#foreach navigation}}
      {{#unless @last}}
          <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
      {{/unless}}
    {{/foreach}}
  </ul>
  <div class="info">
    {{#foreach navigation}}
        {{#if @last}}
            <a href="{{url absolute="true"}}" class="info-about">关于</a>
        {{/if}}
    {{/foreach}}
    <a href="{{@blog.url}}" title="知识共享署名-非商业性使用-禁止演绎 2.5 中国大陆许可协议" class="info-right">Copyright © 2016</a>
  </div>
</nav>
